# 如果需要添加某一个类库，放开注释执行 carthage update --platform iOS，更新完请将注释加回去

github "Moya/Moya" == 14.0.0-alpha.1

github "Hearst-DD/ObjectMapper" ~> 3.5.0

git "https://github.com/SoalHuang/SDFoundation.git" "master"
